@font-face {
  font-family: OpenSans;
	src: url(/fonts/fonts/OpenSans-Regular.ttf) format("ttf"),
			url(/fonts/fonts/OpenSans-Regular.woff) format("woff"),
			url(/fonts/fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
	src: url(/fonts/fonts/OpenSans-Bold.ttf) format("ttf"),
			url(/fonts/fonts/OpenSans-Bold.woff) format("woff"),
			url(/fonts/fonts/OpenSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-o-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

html {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%
}

* ::before,
* ::after {
	position: absolute;
	pointer-events: none;
}

title {
	display: none;
}

body {
  min-width: 320px;
	font-family: OpenSans, Arial, Helvetica, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	transition-timing-function: ease;
	transition-duration: 2s;
	transition-property: transform;
}

.activity article:nth-child(odd) img {
	animation: increase 5s ease-in-out infinite alternate;
}

.activity article:nth-child(even) img {
	animation: increase 5s ease-in-out infinite alternate-reverse;
}

svg {
  fill: #ffffff;
	stroke: #6e4fca;
	stroke-width: 5px;
	stroke-linejoin: miter;
	transition-property: stroke-dasharray, stroke-dashoffset;
	animation: wave 3s ease-in-out infinite alternate;
}


h1, h2, h3, a, 
.head-form p {
  text-transform: uppercase;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
  max-width: 150vmin;
	color: #ffffff;
}

h1 span:last-child {
	align-self: flex-end;
}

.page-header,
.page-footer {
	display: flex;
	flex-direction: column;
	position: relative;
  min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.page-footer {
	justify-content: flex-end;
}

.page-header::after,
.page-footer::after,
.button:after,
.section-title::after,
.article-title::after {
	content: "";
}

.page-header::after,
.page-footer::after {
	background-color: #090b35;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.9;
}

h1,
.wrapper,
.download-wrapper,
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
  position: relative;
	max-width: 2048px;
	z-index: 1;
}

.page-header .container {
	flex-basis: 87vh;
}

.page-header .wrapper {
	max-height: 520px;
    flex-basis: 46.35vh;
    margin-bottom: 20px;
}

.container,
.logo-text,
.logo,
.download-form,
.button-logo,
h1,
section,
article {
	margin-right: auto;
	margin-left:  auto;
}

.logo-text {
	width: 27.47vw;
    max-width: 192px;
}

.page-header .logo-text {
    margin-bottom: 20px;
}

.page-footer .logo-text {
    margin-top: 20px;
}

.download-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 84.64vw;
    max-width: 675px;
}

.button,
.button-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5.2vw;
	background-image: radial-gradient(#51389c, #7655d5);
	color: #ffffff;
}

.button-logo {
	border-radius: 23%;
	flex-shrink: 0;
}

.button {
  width: 40.36vw;
	max-width: 310px;
	height: 4.8rem;
	padding: 1rem;
	position: relative;
}

.button:after {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	border: 3px solid #5e42b0;
	top: -3px;
	left: -3px;
	transition-property: width, height, opacity;
	animation: pulse 2s ease 0s infinite;
}

.button-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1.5rem;
	width: 50%;
	font-size: 87.5%;
	white-space: nowrap;
}

.icon {
	width: 2.75rem;
	animation: none;
	stroke: none;
}

.button-text div:last-child {
	font-weight: 700;
}

section,
.activity {
	position: relative;
	counter-reset: item;
}

.section-title {
	color: #e7e7e7;
}

.section-title::after {
	background-repeat: no-repeat;
	background-position-y: center;
}

.feature:nth-child(3n+3) {
	background-color: #f5f4f9;
}

.athlets .feature:nth-child(3n+4) {
	background-color: #5e42b0;
	color: #ffffff;
}

.players .feature:nth-child(3n+4) {
	background-color: #090b35;
	color: #c1c1c1;
}

.article-title {
	position: relative;
	color: #c1c1c1;
}

.article-title::before {
	counter-increment: item;
	content: "0" counter(item);
	color: black;
	z-index: 1;
}

.article-title::after {
	background-color: #5e42b0;
}

.athlets .feature:nth-child(3n+4) .article-title::after {
	background-color: #ffffff ;
}

.players .feature:nth-child(3n+4) .article-title::before {
	color: #8765dd;
}

.players .feature:nth-child(3n+4) .article-title::after {
	background-color: #efefef ;
}

.image-wrapper {
	overflow: hidden;
	min-height: 300px;
	background-color: #c1c1c1;
}

.activity .article-title {
	color: #c6c6c6
}

.activity .article-title::before {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #f5f6f7;
	background-color: #5e42b0;
}

.activity .article-title::after {
	background-color: #8f7bc8;
	z-index: 2;
}

.logo {
  width: 77%;
  height: 77%;
}

.page-footer .container {
	flex-basis: 84.55vh;
}

.download-wrapper {
	flex-basis: 73.07vh;
}

.page-footer .wrapper {
	flex-basis: 36.2vh;
}

.page-footer h2 {
	text-align: center;
	color: #ffffff;
}

.head-form p {
	text-align: center;
	color: #9b8ec1;
}

h1,
footer h2 {
	transition-property: text-shadow;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
	-moz-animation: neon 1.5s ease-in-out infinite alternate;
	-o-animation: neon 1.5s ease-in-out infinite alternate;
	animation: neon 1.5s ease-in-out infinite alternate;
}

.validator {
	display: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 2;
}

@media (max-width: 640px) {

	:root {
		font-size: calc(8px + 8 * (100vmin - 320px) / 448);
	}
    
	.page-header {
		padding: 5.3vh 0 5.3vh 0;
		background-image: url("../images/img/football_767.jpg");
	}

	.page-header .wrapper {
		flex-basis: 49.5vh;
	}

	.page-header .container {
		flex-basis: 82vh;
	}

	svg {
		animation: none;
		stroke: none;
	}

	h1 {
		width: 87.25vw;
		height: 14rem;
		font-size: 3.5rem;
		line-height: 3.8rem;
		letter-spacing: 1.5px;
		animation: none;
		text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff, 0 0 8px #ffffff, 0 0 10px #090b35, 0 0 18px #090b35, 0 0 20px #090b35, 0 0 50px #090b35, 0 0 35px #090b35;
	}
	
	h1 span:last-child {
		padding-left: 5.5rem;
	}
	
	.logo-text {
		width: 41.2vmin;
		height: 6.14vh;
	}
	
	.button {
		width: 87.5vw;
		max-width: 87.5vmin;
		height: 4.5rem;
		margin: 0 auto 1.5rem auto;
    padding: 1.5vmin 0;
	}

	.download-form {
		width: 100%;
	}
	
	.button-text {
		width: 30%;
		font-size: 1rem;
		margin-left: 0.75rem;
		font-size: 100%;
		white-space: nowrap;
	}
	
	.icon {
		width: 3rem;
		height: 3rem;
	}
	
	.section-title {
		position: relative;
		padding-bottom: 255px;
		padding-left: 6.25%;
		padding-top: 5px;
		font-size: 50px;
	}
	
	.section-title::after {
		width: 100%;
		height: 285px;
		left: 0;
		background-position-x: 50%;
	}

	.athlets .section-title::after { 
		bottom: -35px;
		background-image: url("../images/img/footballer_192.png");		
	}
	
	.players .section-title::after {
		bottom: -20px;
		background-image: url("../images/img/basketballer_302.png");
	}
	
	.feature {
		padding-top: 55px;
		padding-bottom: 55px;
	}
	
	.feature:nth-child(3n+2) {
		background-color: #fafafa;
	}
			
	.article-content {
		padding-right: 6.25%;
		padding-left: 6.25%;
		font-size: 15px;
		line-height: 19px;
		letter-spacing: 0.7px;
		font-weight: 400;
	}
	
	.article-title {
		padding-bottom: 25px;
		padding-left: 25px;
		font-size: 23px;
		line-height: 18px;
		letter-spacing: 1px;
	}
	
	.article-title::before {
		line-height: 18px;
		font-size: 14px;
		letter-spacing: 0;
		font-weight: 700;
		top: -3px;
		left: 0;
	}

	.article-title::after {
		width: 15px;
		height: 4px;
		top: 14px;
		left: 0;
		border-radius: 2px;
		background-color: #5e42b0;
	}
		
	.activity .article-content {
		padding-top: 35px;
		padding-bottom: 75px;
		font-size: 16px;
		line-height: 20px;
	}
	
	.activity .article-title {
		padding-bottom: 25px;
		padding-left: 0;
		font-size: 28px;
	}
	
	.activity .article-title::before{
		width: 70px;
		height: 70px;
		top: -95px;
		left: 0;
	}
	
	.activity .article-title::after{
		top: -50px;
		left: 27px;
	}

	.button-logo {
		width: 22.5vmin;
		height: 22.5vmin;
	}
	
	.page-footer {
		padding: 1.8vh 0;
		background-image: url("../images/img/game_767.jpg");
	}

	.page-footer .container {
		flex-basis: 81.87vh;
    }
    
	.page-footer .wrapper {
		flex-basis: 32.57vh;
	}

	.download-wrapper {
		flex-basis: 62.92vh;
	}
	
	.page-footer h2 {
		font-size: 4rem;
		letter-spacing: 1px;
		font-weight: 700;
	}
	
	.head-form p {
		font-size: 1.75rem;
	}
}

@media (min-width: 641px) and (max-width: 960px) {

	:root {
		font-size: calc(16px + 8 * (100vmin - 768px) / 1152);
	}
	
	.page-header {
		padding: 3.65vh 0;                                
		background-image: url("../images/img/football_1280.jpg");
	}

	h1 {
		width: 77vw;
		height: 13.88rem;
		font-size: 4rem;
		letter-spacing: 3px;
		line-height: 4.4rem;;
	}

	h1 span:last-child {
		padding-left: 6.25rem; 
	}
	
	.section-title {
		padding-top: 60px;
    font-size: 80px;
    letter-spacing: 2px;
  }
    
  .athlets .section-title,
  .athlets .article-content {
    width: 61.85%;
		margin-left: auto;
		padding-right: 32px;
  }

	.article-content {
    font-size: 16px;
		line-height: 29px;
	}

	.article-title {
		padding-left: 30px;
    font-size: 32px;
    letter-spacing: 2px;
	}

	.article-description {
		padding-top: 20px;
	}

	.article-title::before {
		top: 0;
		left: 0;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0;
		line-height: 22px;
		border-bottom-width: 5px;
	}

	.article-title::after {
		width: 18px;
		height: 4px;
		border-radius: 2px;
		bottom: 0;
		left: 0;
	}

	.feature {
		padding-top: 35px;
		padding-bottom: 35px;
		min-height: 175px;
	}

	.athlets .section-title::after {
		width: 45%;
		max-width: 365px;
		height: 115%;
		top: 95px;
		left: 0;
		background-image: url("../images/img/footballer_497.png");
		background-size: 145%;
		background-position-x: calc(-320px + 20vw);
		background-position-y: 0;
	}
	
	.players .section-title::after {
		width: 56.5%;
		height: 100%;
		right: 0;
		top: 20px;
		background-image: url("../images/img/basketballer_436.png");
		background-size: 100%;
		background-position-y: 13%;
    }
    
	.players .section-title,
	.players .article-content {
		max-width: 60.94%;
		padding-left: 32px;
	}

	.players .feature:nth-child(3n+4) p {
		margin-top: 10px;
		font-size: 18px;
	}

	.activity .article-content {
		padding-top: 35px;
		padding-bottom: 98px;
		padding-left: 32px;

		padding: 4.6% 4.2% 12.8% 4.2%;
		font-size: 24px;
		line-height: 28px;
	}
	
	.activity .article-title {
		padding-top: 40px;
		padding-left: 0;
		font-size: calc(80px + 10 * (100vw - 768px) / 127);
		line-height: calc(88px + 11 * (100vw - 768px) / 127);
	}

	.activity .article-title::before{
		width: 120px;
		height: 120px;
		line-height: 34px;
		font-size: 24px;
		top: -118px;
		left: 0;
	}
	
	.activity .article-title::after{
		width: 25px;
		height: 5px;
		top: -40px;
		left: 46px;
	}

	.page-footer {
		padding: 2.3vh 0;
		background-image: url("../images/img/game_1280.jpg");	
	}

	.button-logo {
		width: 16.93vmin;
		height: 18vmin;
	}

	.page-footer h2 {
        font-size: calc(5rem + 10 * (100vw - 768px) / 100);
		letter-spacing: 4px;
	}
	
	.head-form p {
		font-size: calc(2.25rem + 5 * (100vw - 768px) / 100);
		font-weight: 400;
	}
}

@media (min-width: 961px) {

  .page-header,
  .page-footer {
		min-height: 960px;
  }

	.page-header {
		padding: 40px 0;
		background-image: url("../images/img/football_1920.jpg");
	}

	.page-header .container {
		max-height: 810px;
	}

	h1 {
		width: 80vw;
		max-width: 2000px;
		font-size: calc(90px + 30 * (100vw - 1920px) / 1152);
		letter-spacing: 4px;
		line-height: calc(100px + 33 * (100vw - 1920px) / 1152);
		animation: none;
		}

	h1:hover {
		-webkit-animation: neon 1.5s ease-in-out infinite alternate;
		-moz-animation: neon 1.5s ease-in-out infinite alternate;
		-o-animation: neon 1.5s ease-in-out infinite alternate;
		animation: neon 1.5s ease-in-out infinite alternate;
	}	
    
	h1 span:last-child {
		padding-left: calc(350px + 350 * (100vw - 1920px) / 1152);
	}

	section,
	article {
		max-width: 2200px;
	}

	.section-title {
		padding-top: 90px;
		padding-bottom: 20px;
    font-size: 80px;
    letter-spacing: 2px;
	}
	
	.image-wrapper,
	.article-content,
	.section-title {
		max-width: 1024px;
		width: 50%;
	}

	.section-header,
	article {
		display: flex;
	}

	.athlets * {
		justify-content: flex-end;
	}

	.athlets .section-title,
	.athlets .article-content {
		padding-left: 2.5%;
		padding-right: 10.42%;
	}
	
	.players .section-title,
	.players .article-content {
		padding-right: 1%;
		padding-left: 9.9%;
	}
	
	.article-content {
    font-size: 20px;
		line-height: 29px;
	}

	.article-title {
		padding-left: 30px;
    font-size: 36px;
    letter-spacing: 2px;
	}

	.article-description {
		padding-top: 20px;
	}

	.article-title::before {
		top: 0;
		left: 0;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0;
		line-height: 22px;
		border-bottom-width: 5px;
	}

	.article-title::after {
		width: 20px;
		height: 5px;
		border-radius: 3px;
		bottom: 0;
		left: 0;
	}

	.feature {
		padding-top: 60px;
		padding-bottom: 55px;
	}

	.feature:hover {
		border-radius:16px;
		box-shadow: inset -5px -5px 5px 0 rgba(0,0,0,.5), inset 5px 5px 5px 0 rgba(255,255,255,0.5);
	}
	
	.athlets .section-title::after {
		
		width: 50vw;
		max-width: 1130px;
		height: 970px;
		top: -5px;
		left: 0;
		background-image: url("../images/img/footballer_566.png");
		background-position-x: calc(-580px + 50vw);
		background-size: calc(300px + 13.5vw);
	}
	
	.players .section-title::after {
		
		width: 60vw;
		max-width: 1712px;
		height: 880px;
		top: -9px;
		right: 0;
		background-image: url("../images/img/basketballer_991.png");
		background-position-x: calc(150px -  5vw);
		background-size: calc(800px + 10vw);
	}
		
	.players .feature:nth-child(3n+4) p {
		margin-top: 10px;
		font-size: 18px;
	}

	.activity article {
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.activity article:nth-child(2n) {
		flex-direction: row-reverse;
	}

	.activity .article-content {
		padding: 2% 3.75% 2% 6.25%;
		font-size: 24px;
		line-height: 28px;
	}
	
	.activity .article-title {
		position: static;
		padding-left: 0;
		padding-bottom: 0;                       
		font-size: calc(80px + 40 * (100vw - 1920px) / 1152);
		line-height: calc(80px + 40 * (100vw - 1920px) / 1152);
		color: rgba(193, 193, 193, 0.4)
	}

	.activity .article-description {
		padding-top: 6.25%; 
	}

	.activity .article-title::before {
		width: 8.1vw;
		max-width: 170px;
		height: 8.1vw;
		max-height: 170px;
		top: 30%;
		left: 45.95%;
		display: flex;
		line-height: 34px;
		font-size: 24px;
	}

	.activity .article-title::after {
		width: 28px;
		height: 6px;
		top: calc(30% + 4.05vw + 17px);
		left: calc(50% - 14px);
	}

	.page-main .activity article img {
		width: 100%;
		animation: none;
	}

	.page-footer {
		padding: 50px 0;
		background-image: url("../images/img/game_1280.jpg");
	}

	.page-footer .container {
		max-height: 680px;
	}

	.download-wrapper {
		max-height: 365px;
	}

	.page-footer .wrapper {
		width: 900px;
		padding-right: 15px;
		margin: 0 auto;
		flex-direction: row;
	}

	.button-logo {
		min-width: 130px;
		width: 6.77%;
		height: 130px;
	}

	.logo {
		width: 100px;
	}

	.page-footer h2 {
		padding-top: 5px;
		font-size: 80px;
		line-height: 88px;
		letter-spacing: 3.5px;
		font-weight: 700;
	}
	
	.head-form p {
		font-size: 30px;
		text-align: start;
	}

	.validator {
		display: block;
	}
}

@media (min-width: 2048px) {

	h1 {
		font-size: 100px;
		line-height: 110px;
	}

	.activity .article-title {
		font-size: 85px;
	}

	.athlets .section-title::after {
		background-position-x: 463px;
		background-size: 570px;
	}

	.players .section-title::after {
		background-position-x: 42px;
		background-size: 1050px;
	}

	.activity .article-title::after {
		top: calc(30% + 100px);
		left: calc(50% - 20px);
	}
}

.button:hover,
.button-logo:hover {
	-webkit-animation: rubber 0.6s ease;
	-moz-animation: rubber 0.6s ease;
	-o-animation: rubber 0.6s ease;
	animation: rubber 0.6s ease;
}

img:hover {
	transform: scale(1.2);
}

@keyframes pulse {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	80% {
		opacity: 0;
		transform: scale(1.2);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}

@keyframes neon {
  from {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #090b35, 0 0 35px #090b35, 0 0 40px #090b35, 0 0 50px #090b35, 0 0 75px #090b35;
  }
  to {
    text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff, 0 0 8px #ffffff, 0 0 10px #090b35, 0 0 18px #090b35, 0 0 20px #090b35, 0 0 50px #090b35, 0 0 35px #090b35;
  }
}

@keyframes increase {
  from {
		transform: scale(1);
  }

  to {
		transform: scale(1.12);
  }
}

@keyframes rubber {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes wave {

	from {
		stroke-dasharray: 0 10%;
		stroke-dashoffset: 20px;
	}

	50% {
		stroke-dasharray: 20% 20%;
		stroke-dashoffset: 40px;
	}

	to {
		stroke-dasharray: 50% 0;
		stroke-dashoffset: 60px;
	}
}